# PACKAGES: parted kmod-fs-exfat exfat-mkfs block-mount nano kmod-veth luci-app-lxc lxc-start lxc-stop lxc-destroy lxc-ls
# lxc-create -n jellyfin -t download -- -d debian -r bookworm -a amd64

lxc.net.0.link = br-lan

lxc.cgroup2.devices.allow = c 226:0 rwm
lxc.cgroup2.devices.allow = c 226:128 rwm

# Bind mount the devices into the container
lxc.mount.entry = /dev/dri dev/dri none bind,optional,create=dir
lxc.mount.entry = /mnt/media mnt/media none bind,create=dir

